<b> In this document, the document will show how I apply knowledge to extract the data by using web scrapping from libraies: Beautiful Soup and Scrapy

# Web scrapping

<b> Basically, I use BeautifulSoup to get all the link and extract html out reach page and collect it in the table as csv file to extract the data from thee html.

In [2]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [3]:
link=[]
for i in range(1,200):

    url_bts = 'https://www.seek.com.au/Data-jobs?page='+str(i)

    res_bts= requests.get(url_bts)
    soup_bts = BeautifulSoup(res_bts.text, 'lxml')

    titles= soup_bts.find_all('article')
    for i in titles:

        url=i.find('div')['href']
        link.append(url)
len(link)

4188

In [ ]:
firstsetlink= pd.DataFrame(link,columns=['link'])
firstsetlink.to_csv('seek200pagesdata.csv')

In [ ]:
# use this code to extract HTML from every page to store in CSV file
html=[]
for detial_link in link:
    url='https://www.seek.com.au'+ str(detial_link)
    res_bts= requests.get(url)
    soup_bts = BeautifulSoup(res_bts.content, 'lxml')
    html.append(soup_bts)

In [ ]:
firstsetlink['html']=html
firstsetlink.to_csv('rawhtml1.csv')

# Extract data from scraping(html) using scrapy

In [4]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [5]:
import pandas as pd
import requests
from scrapy.selector import Selector
raw_html=pd.read_csv('rawhtml1.csv')

read_csv file name 'rawhtml1.csv'

In [6]:
raw_html.link[0]

'/job/41350245?type=promoted#searchRequestToken=431915bd-e570-4e4d-8f1e-27140adaf7bc'

In [7]:
raw_html.shape

(4196, 3)

In [8]:
raw_html

,Unnamed: 0,link,html
0,0,/job/41350245?type=promoted#searchRequestToken...,"<!DOCTYPE html>\n<html lang=""en"" prefix=""og: h..."
1,1,/job/41347509?type=promoted#searchRequestToken...,"<!DOCTYPE html>\n<html lang=""en"" prefix=""og: h..."
2,2,/job/41350141?type=standout#searchRequestToken...,"<!DOCTYPE html>\n<html lang=""en"" prefix=""og: h..."
3,3,/job/41353416?type=standard#searchRequestToken...,"<!DOCTYPE html>\n<html lang=""en"" prefix=""og: h..."
4,4,/job/41350606?type=standard#searchRequestToken...,"<!DOCTYPE html>\n<html lang=""en"" prefix=""og: h..."
...,...,...,...
4191,4191,/job/41330043?type=standout#searchRequestToken...,"<!DOCTYPE html>\n<html lang=""en"" prefix=""og: h..."
4192,4192,/job/41330200?type=standout#searchRequestToken...,"<!DOCTYPE html>\n<html lang=""en"" prefix=""og: h..."
4193,4193,/job/41335205?type=standard#searchRequestToken...,"<!DOCTYPE html>\n<html lang=""en"" prefix=""og: h..."
4194,4194,/job/41337844?type=standard#searchRequestToken...,"<!DOCTYPE html>\n<html lang=""en"" prefix=""og: h..."
4195,4195,/job/41331087?type=standard#searchRequestToken...,"<!DOCTYPE html>\n<html lang=""en"" prefix=""og: h..."

<b> here is a code to which use as a function that will extract the full job description out of the html. 
    
credit: JP

In [21]:
from bs4 import BeautifulSoup
import unicodedata
def parser(html):
    text1 = BeautifulSoup(html).get_text()
    text2 = BeautifulSoup(text1).get_text()
    while text1 != text2:
        text1 = BeautifulSoup(text2).get_text()
        text2 = BeautifulSoup(text1).get_text()
    else:
        clean_text = unicodedata.normalize("NFKD",text2)
        return clean_text

<b> this one is a piece of code that I use to test my xpath to apply in the whole big scrapy code

In [ ]:
# Xpath tester
# use this one to find a xpath + method to find the proper solution to extract data

xpath_salary5='//*[@id="app"]/div/div/div[3]/div/div[2]/div/div/div[2]/div/div[2]/div/aside/span/div[4]/div/div/div/div/div[1]/div/div[2]/div[2]/span[2]'
xpath_salary4='//*[@id="app"]/div/div/div[3]/div/div[2]/div/div/div[2]/div/div[2]/div/aside/span/div[4]/div/div/div/div/div[1]/div/div[2]/div[2]/span[2]'
xpath_salary6='#app > div > div > div:nth-child(5) > div > div.FYwKg._1GKx8_2 > div > div > div:nth-child(2) > div > div.FYwKg._20Cd9.BIdp3._3Ve9Z > div > aside > span > div:nth-child(3) > div > div > div > div > div:nth-child(2) > div > div:nth-child(2) > div.lmis-cg-salary-bottom > span.lmis-cg-salary-mode'
xpath_industry='//*[contains(concat( " ", @class, " " ), concat( " ", "Pdwn1mb", " " ))]//div//strong/text()'
xpath_worktype='/html/body/div/div/div/div[3]/div/div[2]/div/div/div[2]/div/div[2]/div/aside/span/div[2]/div/section/dl/dd[3]/span/span/text()'
test=[]



HTML=raw_html['html'][1]
xpath_selector = Selector(text=HTML)
tester=xpath_selector.css(xpath_salary6).get()
test.append(tester)
print(tester)

HTML

<b> the code below I use try and except, Xpath to extract the data from the html I scrap.

In [13]:
xpath_titles='/html/body/div/div/div/div[3]/div/div[2]/div/div/div[2]/div/div[1]/div/div[2]/article/section/span[2]/span/h1/text()'
xpath_date='/html/body/div/div/div/div[3]/div/div[2]/div/div/div[2]/div/div[2]/div/aside/span/div[2]/div/section/dl/dd[1]/span/span/text()'
xpath_company='/html/body/div/div/div/div[3]/div/div[2]/div/div/div[2]/div/div[1]/div/div[2]/article/section/h2/span[2]/span/text()'
xpath_description='//div[@data-automation="jobDescription"]'
xpath_industry='//*[contains(concat( " ", @class, " " ), concat( " ", "Pdwn1mb", " " ))]//div//strong/text()'
xpath_location='/html/body/div/div/div/div[3]/div/div[2]/div/div/div[2]/div/div[2]/div/aside/span/div[2]/div/section/dl/dd[2]/span/span/strong/text()'
xpath_area='/html/body/div/div/div/div[3]/div/div[2]/div/div/div[2]/div/div[2]/div/aside/span/div[2]/div/section/dl/dd[2]/span/span/span/text()'
xpath_worktype='/html/body/div/div/div/div[3]/div/div[2]/div/div/div[2]/div/div[2]/div/aside/span/div[2]/div/section/dl/dd[3]/span/span/text()'
xpath_salary='/html/body/div/div/div/div[3]/div/div[2]/div/div/div[2]/div/div[1]/div/div[2]/article/span[2]/section/dl/div[1]/dd/span/span/text()'



titles=[]
date=[]
company=[]
description=[]
industry=[]
location=[]
area=[]
worktype=[]
salary=[]
salary_mode=[]
for i in range(0,4174):

    HTML=raw_html['html'][i]
    xpath_selector = Selector(text=HTML)
    try:
        Titles=xpath_selector.xpath(xpath_titles).extract()[0]
        titles.append(Titles)
    except:
        titles.append(None)
    try:
        Date=xpath_selector.xpath(xpath_date).extract()[0]
        date.append(Date)
    except:
        date.append(None)
    try:
        Company=xpath_selector.xpath(xpath_company).extract()[0]
        company.append(Company)
    except:
        company.append(None)
    try:
        Description=xpath_selector.xpath(xpath_description).extract()[0]
        Description=parser(Description)
        description.append(Description)
    except:
        description.append(None)
    try:
        Industry=xpath_selector.xpath(xpath_industry).extract()[0]
        industry.append(Industry)
    except:
        industry.append(None)
    try:
        Salary=xpath_selector.xpath(xpath_salary).extract()[0]
        salary.append(Salary)
    except:
        salary.append(None)   

    try:
        Location=xpath_selector.xpath(xpath_location).extract()[0]
        location.append(Location)
    except:
        location.append(None)
    try:
        Area=xpath_selector.xpath(xpath_area).extract()[0]
        area.append(Area)
    except:
        area.append(None)
    try:
        Worktype=xpath_selector.xpath(xpath_worktype).extract()[0]
        worktype.append(Worktype)
    except:
        worktype.append(None)

In [14]:
seek_dict={'titles':titles,
'date':date,
'company':company,
'description':description,
'industry':industry,
'location':location,
'area':area,
'worktype':worktype,
'salary':salary,
}

columns_name=['titles','date','company','description','industry','location','area','worktype','salary']

In [15]:
seek_df=pd.DataFrame(seek_dict, columns=columns_name)

Here is the data I got from the scraping which consists of the section as below:

In [19]:
seek_df

,titles,date,company,description,industry,location,area,worktype,salary
0,Senior Consultant | Data Platforms & Advanced ...,19 May 2020,Versor Pty Ltd,Senior Consultant | Data Platforms & Advanced ...,Information & Communication Technology,Melbourne,CBD & Inner Suburbs,Full Time,None
1,Senior Data Engineer - Australia's #1 Home Loa...,18 May 2020,Lendi,Senior Data Engineer - Australia's #1 Home Loa...,Information & Communication Technology,Sydney,"CBD, Inner West & Eastern Suburbs",Full Time,None
2,Technical Business Analyst | Data & Reporting,19 May 2020,Bendigo & Adelaide Bank,Technical Business Analyst | Data & Reporting\...,Information & Communication Technology,"Bendigo, Goldfields & Macedon Ranges",None,Full Time,None
3,Data and Reporting Analyst,20 May 2020,Jones Lang LaSalle,Data and Reporting Analyst \n\nThe impact of b...,Information & Communication Technology,ACT,None,Full Time,None
4,Data Analyst,19 May 2020,Talent Street,Data Analyst \n\nTalent Street is looking for ...,Information & Communication Technology,ACT,None,Contract/Temp,None
...,...,...,...,...,...,...,...,...,...
4169,Integration and Test Manager,13 May 2020,Lockheed Martin,Integration and Test Manager \n\nAbout us:\nLo...,Engineering,ACT,None,Full Time,None
4170,CNC Machinist - Toolmaker,12 May 2020,Ripe Recruitment,CNC Machinist - Toolmaker \n\n \nCOMPANY\nMy c...,Trades & Services,Sydney,Parramatta & Western Suburbs,Full Time,$25 - $40 per hour depending on experience level
4171,Director/Manager - Business Strategy Consulting,12 May 2020,Ignite,"About the ClientThis data-driven, emerging lea...",CEO & General Management,Melbourne,Bayside & South Eastern Suburbs,Full Time,$150000 per annum
4172,Administration Team Member,18 May 2020,The Good Guys,Administration Team Member \n\n\nMulti-award w...,Retail & Consumer Products,Melbourne,Bayside & South Eastern Suburbs,Part Time,None
4173,Administration Team Member,18 May 2020,The Good Guys,Administration Team Member \n\n\nMulti-award w...,Retail & Consumer Products,Mornington Peninsula & Bass Coast,None,Casual/Vacation,None

In [20]:
seek_df.to_csv('seek_df.csv')
seek_df.shape

(4174, 9)

# Clean data

<b>Due to the limit of time, I can nor manage to finish this part. So, I will use the Data Frame. provided to do the analysis of the model including EDA and cleaning

In [656]:
clean_data=seek_df.dropna(axis=0)

In [657]:
clean_data.shape

(938, 9)

In [658]:
clean_data

,titles,date,company,description,industry,location,area,worktype,salary
11,"Data Analyst, Data Governance & Management",18 May 2020,Cancer Institute NSW,"Data Analyst, Data Governance & Management Em...",Government & Defence,Sydney,"CBD, Inner West & Eastern Suburbs",Full Time,"Remuneration: $97,812 - $116,013Â per annum"
14,Senior Data Analyst,19 May 2020,NSW Department of Family and Community Services,Senior Data Analyst Senior Data Analyst C...,Government & Defence,Sydney,Parramatta & Western Suburbs,Contract/Temp,"$110,745 - $122,038 pa plus Super & leave loading"
16,Credit Data Analyst,20 May 2020,FourQuarters Recruitment,Credit Data Analyst Must be available for IM...,Information & Communication Technology,Melbourne,CBD & Inner Suburbs,Full Time,$100000
20,Data Analyst,15 May 2020,oOh! Media,Data Analyst Step into our world and discove...,Information & Communication Technology,Sydney,North Shore & Northern Beaches,Contract/Temp,Attractive salary package
21,Data Analyst -Fraud,19 May 2020,Ashdown People,Data Analyst -Fraud 5 Month Contract Centra...,Information & Communication Technology,Sydney,"CBD, Inner West & Eastern Suburbs",Contract/Temp,$630 per day + super
...,...,...,...,...,...,...,...,...,...
4150,Assistant Planner,19 May 2020,Vida Glow Pty Ltd,Vida Glow is a fast-growing global company tha...,"Manufacturing, Transport & Logistics",Sydney,"CBD, Inner West & Eastern Suburbs",Full Time,"$70,000 - $79,999"
4155,National Bid Coordinator,19 May 2020,Smart Cleaning Solutions,National Bid Co-ordinator Smart Cleaning Solut...,Marketing & Communications,Melbourne,Eastern Suburbs,Full Time,"$120,000 - $129,999"
4156,Digital Content Designer,19 May 2020,Woolworths Group,Digital Content Designer Digital Content ...,Design & Architecture,Sydney,"CBD, Inner West & Eastern Suburbs",Full Time,Your path to many possible futures
4170,CNC Machinist - Toolmaker,12 May 2020,Ripe Recruitment,CNC Machinist - Toolmaker COMPANY My clien...,Trades & Services,Sydney,Parramatta & Western Suburbs,Full Time,$25 - $40 per hour depending on experience level
4171,Director/Manager - Business Strategy Consulting,12 May 2020,Ignite,"About the ClientThis data-driven, emerging lea...",CEO & General Management,Melbourne,Bayside & South Eastern Suburbs,Full Time,$150000 per annum

In [659]:
import re
import string

In [660]:
clean_data.dtypes

titles         object
date           object
company        object
description    object
industry       object
location       object
area           object
worktype       object
salary         object
dtype: object

In [661]:
clean_data.shape

(938, 9)

In [662]:
minsalary=[]
maxsalary=[]
for i in clean_data.salary:

    s=re.sub('[a-zA-Z]+','',i)
    j=re.sub('[^0-9a-zA-Z-]+','',s)
    k=j.split(sep='-')
    try:
        minsalary.append(k[0])
    except:
        minsalary.append(None)
    try:
        maxsalary.append(k[1])
    except:
        maxsalary.append(None)
#print(minsalary)
#print(maxsalary)

print(len(minsalary))
print(len(maxsalary))
pd.DataFrame({'min':minsalary,'max':maxsalary})


clean_data['minsalary']=minsalary
clean_data['maxsalary']= maxsalary

938
938

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [663]:
clean_data.minsalary

11       97812
14      110745
16      100000
20
21         630
         ...
4150     70000
4155    120000
4156
4170        25
4171    150000
Name: minsalary, Length: 938, dtype: object

In [623]:
minsalary=[]
maxsalary=[]

minsalary.append(k[0])
try:
    maxsalary.append(k[1])
except:
    maxsalary.append('None')

In [631]:
minsalary

['150000']